<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <meta charset="UTF-8">
  <title>Clientes</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="UTF-8" />
<meta name="google" value="notranslate" />
<meta http-equiv="Content-Language" content="en_US" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
<link rel='stylesheet' href='https://res.cloudinary.com/ratzydev/raw/upload/v1527318671/webdevchallenge1/reset.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
  
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
 <title>Index Page</title>
</head>
<body>

 <body>
   <header>
    <a href="#/" class="logo"><img src="https://res.cloudinary.com/ratzydev/image/upload/v1528004141/webdevchallenge2/logo.png" alt="Smart SEO" class="full-width-img"/></a>
    <nav>
         <a><h6 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]!</h6></a>
      <b>&nbsp</b>      
      
      <li class="nav-item"    sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="/register">Cadastro</a>
      </li>
      <li class="nav-item"  sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item"   sec:authorize="isAuthenticated()"  >
        <a class="nav-link" href="/profile">Perfil</a>
      </li>
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/users">Clientes</a>
        </li>  
        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link" href="/lista">Empresas</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="/about">Sobre</a>
      </li>
       <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-link" href="/logout" >Logout</a>
      </li>
</nav>

    <div class="hamburger-menu">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
</header>   
      <div class="hero-wrapper">
        <img src="https://res.cloudinary.com/ratzydev/image/upload/v1528004141/webdevchallenge2/hero.jpg" alt="Hero Image" class="resp-hide" />
        <img src="https://res.cloudinary.com/ratzydev/image/upload/v1528004141/webdevchallenge2/hero-resp.jpg" alt="Hero Image" class="resp-show" />
        <div class="hero-text-wrapper">
            <h1>Femkhra Consultorias</h1>
            <p>Especializado em Laudos e Medições Técnicas.</p>
        </div>
    </div>
    <div class="hero-strip-wrapper">
        <h3>Nosso prop&#243;sito é o seu Sucesso.</h3>
        <button type="button" class="btn">Fa&#231;a um Orçamento</button>
    </div>
    <br>
<div class="container" style="width: 200px 80px;">
	<div class= "container-list">
	     <form action="/users" class="form-inline">
	        <div class="form-group mb-2">
	         <input type="text" class="form-control" name="name" placeholder="Buscar ..." />
	         <input type="submit" value="Buscar"  class="btn btn-primary"/>
	        </div>
	     </form>
		
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Adicionar Equipamento</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user:${users}">
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td><a  th:href="@{/addCompany(email=${user.email})}" class="btn btn-secondary">Adicionar Empresa</a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div></div>
	</div>
</body>
 <footer>
<p class="text text-center">
     &copy; 2019 Projeto FEMKHRA
   </p>

</footer>
</html>