//START: Global Styles
body {
    .open-sans-font;
    .white-color-background;
    font-size: 1em;
    font-weight: 100;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body * {
    -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5 {
    color: @blackColor;
    font-weight: 100;
    font-size: 3.4em;
    margin-bottom: 0.3em;
    line-height: normal;
}

p {
    color: @blackColor;
    line-height: normal;
    word-spacing: normal;
    letter-spacing: normal;
}

b {
    font-weight: bold;
}

i {
    font-style: italic;
}

a {
    .transition;
}

ul {
    margin-left: 3em;
}

.script-tag {
    display: none;
}

//END: Global Styles
//START: Common Styles
.clear {
    clear: both !important;
    float: none !important;
    height: 0 !important;
    width: 0 !important;
}

.transition {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.longTransition {
    transition: all .8s;
    -webkit-transition: all .8s;
}

.cubicTransition {
    transition: all 0.3s cubic-bezier(0.55, 0.29, 0.15, 1.4);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.29, 0.15, 1.4);
}

.no-margin {
    margin: 0;
}

.rel-wrapper {
    position: relative;
}

.vertical-center-align {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.block-element {
    display: block;
}

.full-width-img {
    width: 100%;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.no-underline {
    text-decoration: none;
}

.inline-element {
    display: inline-block;
}

.bg-overlay {
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 52, 118, 0.88);
}

.full-opacity {
    opacity: 1;
}

.medium-opacity {
    opacity: .7;
}

.resp-hide {
    display: block;
}

.resp-show {
    display: none;
}

.btn {
    .transition;
    .inline-element;
    .white-color-font;
    .open-sans-font;
    .semibold-font-weight;
    outline: none;
    border: none;
    padding: .8rem 1.6rem;
    border-radius: 30px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #f76e1d 32%, #f3b431 100%);
    vertical-align: middle;
    cursor: pointer;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: 0 0 1rem -0.07rem transparent;
    &:hover {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        box-shadow: 0 0 1rem -0.07rem #9a9a9a;
    }
}

//END: Common Styles
//START: Fonts & Sizes
.open-sans-font {
    font-family: 'Open Sans', sans-serif;
}

.small-font-size {
    font-size: .85rem;
}

.small-font-size2 {
    font-size: .75rem;
}

.normal-font-size {
    font-size: 1rem;
}

.medium-font-size {
    font-size: 1.25rem;
}

.medium-font-size2 {
    font-size: 1.5rem
}

.large-font-size {
    font-size: 1.8rem;
}

.large-font-size2 {
    font-size: 2rem;
}

.extra-large-font-size {
    font-size: 2.5rem;
}

.extra-large-font-size2 {
    font-size: 3rem;
}

.thin-font-weight {
    font-weight: 100;
}

.light-font-weight {
    font-weight: 300;
}

.normal-font-weight {
    font-weight: 400;
}

.medium-font-weight {
    font-weight: 500;
}

.semibold-font-weight {
    font-weight: 600;
}

.bold-font-weight {
    font-weight: 700;
}

.ultrabold-font-weight {
    font-weight: 900;
}

//END: Fonts & Sizes
//START: Colors
@blackColor: #231f20;
@greyColor: #6d6e71;
@whiteColor: #FFF;
@lightWhiteColor: #F9F9F9;

.black-color-font {
    color: @blackColor;
}

.black-color-background {
    background-color: @blackColor;
}
.grey-color-font {
    color: @greyColor;
}

.grey-color-background {
    background-color: @greyColor;
}

.white-color-font {
    color: @whiteColor;
}

.white-color-background {
    background-color: @whiteColor;
}

.light-white-color-font {
    color: @lightWhiteColor;
}

.light-white-color-background {
    background-color: @lightWhiteColor;
}

//END: Colors
//START: Header
header {
    .transition;
    .load-down;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 2rem 6rem;
    border-bottom: 1px solid #1d477f;
    background: transparent;
    &.fixed {
        padding: 1.5rem 3.5rem;
        border-bottom: 1px solid #274196;
        background: #243877cf;
    }
}

.logo {
    .rel-wrapper;
    .inline-element;
    .no-underline;
    width: 8rem;
}

nav {
    .vertical-center-align;
    right: 6rem;
}

.nav-item {
    .transition;
    .rel-wrapper;
    .no-underline;
    .white-color-font;
    .small-font-size;
    .inline-element;
    .semibold-font-weight;
    .medium-opacity;
    cursor: pointer;
    vertical-align: middle;
    padding: .8rem .5rem;
    margin: 0 .5rem;
    text-transform: uppercase;
    &::before {
        .cubicTransition;
        background: #0975ff;
        content: ' ';
        position: absolute;
        bottom: .55rem;
        left: 0;
        height: .5rem;
        width: 0%;
        border-radius: 30px;
        z-index: -1;
    }
    &:hover,
    &.selected {
        .full-opacity;
    }
    &:hover::before,
    &.selected::before {
        width: 100%;
    }

}

//END: Header
//START: Hero 
.hero-wrapper {
    .rel-wrapper;
    height: 85vh;
    overflow: hidden;
    img {
        .block-element;
        width: 100%;
    }
}

.hero-text-wrapper {
    .vertical-center-align;
    left: 6rem;
    margin-top: 5rem;
    h1 {
        .load-down;
        .bold-font-weight;
        .extra-large-font-size;
        .white-color-font;
        text-transform: uppercase;
        margin-bottom: .3rem;
        animation-delay: .2s;
    }
    p {
        .load-down;
        .medium-font-size;
        .medium-font-weight;
        .white-color-font;
        animation-delay: .225s;

    }
}

.hero-strip-wrapper {
    .load-up;
    .text-align-center;
    padding: 4.4vh 5%;
    background: #eee;
    border-bottom: 1px solid #ddd;
    h3 {
        .inline-element;
        .black-color-font;
        .normal-font-weight;
        .medium-font-size;
        .no-margin;
        vertical-align: middle;
        margin-right: 2rem;
    }
}

//END: Hero
//START: Hamburger Menue
.hamburger-menu {
    .vertical-center-align;
    right: 4rem;
    width: 2rem;
    cursor: pointer;
    z-index: 12;
    display: none;
    .line {
        .transition;
        .rel-wrapper;
        .block-element;
        .white-color-background;
        margin: .45rem auto;
        width: 100%;
        height: 2px;
    }
}

.show-menu .hamburger-menu {
    z-index: 1000;
}

.show-menu .hamburger-menu .line {
    background: #164c7b;
}

.show-menu .hamburger-menu .line:nth-child(2) {
    opacity: 0;
}

.show-menu .hamburger-menu .line:nth-child(1) {
    -webkit-transform: translateY(.35rem) rotate(45deg);
    -ms-transform: translateY(.35rem) rotate(45deg);
    -o-transform: translateY(.35rem) rotate(45deg);
    transform: translateY(.35rem) rotate(45deg);
}

.show-menu .hamburger-menu .line:nth-child(3) {
    -webkit-transform: translateY(-.85rem) rotate(-45deg);
    -ms-transform: translateY(-.85rem) rotate(-45deg);
    -o-transform: translateY(-.85rem) rotate(-45deg);
    transform: translateY(-.85rem) rotate(-45deg);
}

//START: Hamburger Menue
//START: Services
.services-list {
    .text-align-center;
    margin: 5rem 5%;
}

.services-item {
    .transition;
    .inline-element;
    vertical-align: top;
    padding: 2rem;
    margin: 0 1%;
    width: calc(~"30% - 4rem - 2px");
    cursor: pointer;
    box-shadow: 0 0rem 1.8rem -0.07rem transparent;
    border: 1px solid transparent;
    border-radius: 1rem;
    background: transparent;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);

    img {
        .inline-element;
        vertical-align: middle;
        width: 3rem;
        margin-right: 1rem;
    }
    h3 {
        .no-margin;
        .black-color-font;
        .medium-font-size;
        .bold-font-weight;
        .inline-element;
        vertical-align: middle;
    }
    p {
        .transition;
        .small-font-size;
        color: lighten(@blackColor, 40%);
        margin-top: 1.5rem;

    }
    &:hover {
        box-shadow: 0 1.5rem 2.5rem -0.07rem #d2d2d2;
        border: 1px solid #dddd;
        background: #eee;
        transform: translateY(-1rem);
        -webkit-transform: translateY(-1rem);
        -moz-transform: translateY(-1rem);
        -ms-transform: translateY(-1rem);
        -o-transform: translateY(-1rem);
    }
    &:hover p {
        color: lighten(@blackColor, 20%);
    }
}

//END: Services
//START: Testimonial
.testimonial-wrapper {
    .text-align-center;
    .rel-wrapper;
    margin: 2rem 25%;
    padding: 3rem;
    border: 1px solid #d2d2d2;
    box-shadow: 0 0 0.8rem -0.07rem #b7b7b7;
    border-radius: 1rem;
    h2 {
        .no-margin;
        .rel-wrapper;
        .black-color-font;
        .medium-font-weight;
        .medium-font-size;
        text-transform: uppercase;
        padding-bottom: 1rem;

        &::before {
            content: ' ';
            position: absolute;
            bottom: -.5rem;
            left: 0;
            right: 0;
            margin: auto;
            background: #205796;
            border-radius: 30px;
            height: .5rem;
            width: 10%;
        }
    }
}

.testimonial-list {
    .rel-wrapper;
    margin: 2rem 0 0;
}

.testimonial-item {
    .transition;
    .text-align-left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.testimonial-content {
    .load-left;
    img {
        .inline-element;
        width: 2rem;
        margin-right: 1rem;
        vertical-align: top;
    }
    p {
        .inline-element;
        .small-font-size;
        .normal-font-weight;
        color: lighten(@blackColor, 30%);
        vertical-align: top;
        line-height: 1.6;
        width: calc(~"98% - 3rem");
    }
}

.testimonial-footer {
    .load-left;
    animation-delay: .25s;
    margin-top: 2rem;
    img {
        .inline-element;
        vertical-align: middle;
        width: 2.5rem;
        border: 1px solid #ddd;
        border-radius: 50%;
        margin-right: 1rem;
    }
    h3 {
        .normal-font-size;
        .medium-font-weight;
        .inline-element;
        .no-margin;
        vertical-align: middle;
        span {
            .block-element;
            .grey-color-font;
            .small-font-size2;
        }
    }
}

.testimonial-item.selected {
    .rel-wrapper;
    z-index: 2;
    .testimonial-content,
    .testimonial-footer {
        animation-name: loadLeftAnim;
    }
}

.bullet-list {
    .text-align-center;
    margin: 1rem 0 4rem;
    li {
        .rel-wrapper;
        .transition;
        .inline-element;
        vertical-align: middle;
        width: .8rem;
        height: .8rem;
        border-radius: 50%;
        background: #e1e1e1;
        cursor: pointer;
        margin: 0 .25rem;
        overflow: hidden;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        &::before {
            .cubicTransition;
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #9b9b9b;
            border-radius: 50%
        }
    }

    li:hover,
    li.selected {
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
    }
    li:hover::before,
    li.selected::before {
        width: 100%;
    }
}

.testimonial-block {
    .text-align-center;
}

//END: Testimonial
//START: Footer
footer {
    margin-top: 4rem;
    .text-align-center;
    padding: 1.8rem 10%;
    background: #e1dddd;
    border-top: 1px solid #d2d2d2;
    h3 {
        .no-margin;
        .small-font-size;
        .medium-font-weight;
        color: #5f5f5f;
    }
}

//START: Footer
//START: Animation
.load-left {
    transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    -moz-transform: translateX(-2rem);
    -ms-transform: translateX(-2rem);
    -o-transform: translateX(-2rem);
    opacity: 0;
    animation-delay: .2s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.load-down {
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    -o-transform: translateY(-2rem);
    opacity: 0;
    animation-delay: .1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: loadDown;
}

.load-up {
    transform: translateY(2rem);
    -webkit-transform: translateY(2rem);
    -moz-transform: translateY(2rem);
    -ms-transform: translateY(2rem);
    -o-transform: translateY(2rem);
    opacity: 0;
    animation-delay: .1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: loadUp;
}

@keyframes loadLeftAnim {
    0% {
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        -moz-transform: translateX(-2rem);
        -ms-transform: translateX(-2rem);
        -o-transform: translateX(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes loadDown {
    0% {
        transform: translateY(-2rem);
        -webkit-transform: translateY(-2rem);
        -moz-transform: translateY(-2rem);
        -ms-transform: translateY(-2rem);
        -o-transform: translateY(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loadUp {
    0% {
        transform: translateY(2rem);
        -webkit-transform: translateY(2rem);
        -moz-transform: translateY(2rem);
        -ms-transform: translateY(2rem);
        -o-transform: translateY(2rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

//END: Animation
@media only screen and (max-device-width: 1024px) {
    .hamburger-menu {
        .block-element;
    }
    nav {
        .cubicTransition;
        .white-color-background;
        position: fixed;
        top: 0;
        right: 0;
        padding-top: 5rem;
        width: 0;
        height: calc(~"100vh - 2rem");
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        z-index: 100
    }
    .nav-item {
        .block-element;
        .medium-font-size;
        margin: 0 2rem;
        padding: 1.5rem 0 1.5rem;
        color: #273576;
        &::before {
            bottom: 1.5rem;
        }
    }
    .show-menu nav {
        width: 60vw;
    }
    .show-menu .bg-overlay {
        display: block;
    }
    header {
        padding: 2rem 3rem;
    }
    .hero-wrapper {
        height: auto;
    }
    .hero-text-wrapper {
        .text-align-center;
        left: 0;
        right: 0;
        margin: auto;
    }
    .hero-strip-wrapper h3 {
        margin: 0 0 2rem 0;
    }
    .hero-strip-wrapper {
        padding: 2rem 5%;
    }
    header.fixed {
        padding: 1.5rem;
        .hamburger-menu {
            right: 1.5rem;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .services-item {
        width: calc(~"45% - 4rem - 2px");
    }
    .testimonial-wrapper {
        margin: 2rem 10%;
    }
}

@media only screen and (max-device-width: 767px) {
    .resp-hide {
        display: none !important;
    }
    .resp-show {
        display: block !important;
    }
    header {
        padding: 1.5rem;
    }
    .hamburger-menu {
        right: 1.5rem;
    }
    .show-menu nav {
        width: 80vw;
    }
    .hero-text-wrapper {
        margin: 0 5%;
        top: auto;
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        bottom: 5rem;
        h1 {
            .medium-font-size;
        }
        p {
            .normal-font-size;
        }
    }
    .hero-strip-wrapper h3,
    .testimonial-wrapper h2 {
        .normal-font-size;
    }
    .services-list {
        margin: 2rem 5%
    }
    .services-item {
        .block-element;
        width: calc(~"100% - 4rem - 2px");
    }
    .testimonial-wrapper {
        margin: 2rem 5%;
        padding: 3rem 1.5rem;
    }
    .testimonial-item {
        .text-align-center;
    }
    .testimonial-content {
        margin-top: 1rem;
        img {
            margin: auto;
        }
        p {
            width: 100%;
            margin-top: 1.5rem;
        }
    }
    .testimonial-footer h3 {
        .text-align-left;
    }
}
